<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <appender name="CONSOLE-DEBUG" class="org.apache.log4j.ConsoleAppender">
    <param name="target" value="System.out"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%-5p [%d{dd-MM-yyyy HH:mm:ss.SSS}] %-15C{1}[%t]: %m%n"/>
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="ALL"/>
      <param name="LevelMax" value="INFO"/>
    </filter>
  </appender>

  <appender name="CONSOLE-WARN" class="org.apache.log4j.ConsoleAppender">
    <param name="target" value="System.err"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%-5p [%d{dd-MM-yyyy HH:mm:ss.SSS}] %-15C{1}[%t]: %m%n"/>
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="WARN"/>
    </filter>
  </appender>

  <appender name="LOG-FILE-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="file" value="../logs/flexyquiz.log"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%-5p [%d{dd-MM-yyyy HH:mm:ss.SSS}] %-15C{1}[%t]: %m%n"/>
    </layout>
  </appender>


  <!-- Flexy.Quiz logging -->
  <category name="com.flexyquiz">
    <priority value="DEBUG"/> <!-- TODO: switch to INFO in the release -->
  </category>

  <!-- Core components logging -->
  <category name="org.springframework">
    <priority value="DEBUG"/> <!-- TODO: switch to INFO in the release -->
  </category>

  <!-- <category name="nte.sf">
    <priority value="all"/>
  </category> -->

  <!-- Root logging -->
  <root>
    <priority value="INFO"/>
    <appender-ref ref="CONSOLE-WARN"/>
    <appender-ref ref="CONSOLE-DEBUG"/>
    <appender-ref ref="LOG-FILE-APPENDER"/>
  </root>

</log4j:configuration>
